---
layout: single
---

{{ content }}

<script src="{{ '/assets/js/links_in_new_tab.js' | relative_url }}"></script>
<script src="{{ '/assets/js/internal_links_navigate.js' | relative_url }}"></script>
<script src="{{ '/assets/js/image_paths.js' | relative_url }}"></script>
<script>
    prefix_image_paths("pages", "{{ page.permalink }}", ".page__content");
</script>
<script src="{{ '/assets/js/update_blog_uri.js' | relative_url }}"></script>
<script>
    update_blog_uri("{{ page.permalink }}");
</script>